@page
@model GatePassManagementSystem.Pages.CreateDetails.CreateDepartmentModel
@{
    
}


<div class="content-wrapper">

    <div class="page-header">
        <h3 class="page-title">Personal Gate Pass System Details</h3>


        @*<nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page"> Personal Gate Pass </li>
                </ol>
            </nav>*@
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create New User</h4>
                    <form class="form-sample" method="post">
                        <p class="card-description">Personal info</p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Department Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" asp-for="Department.DeptName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Head of Department</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" asp-for="Department.Hod" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Department General Manager</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" asp-for="Department.Dgm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">General Manager</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" asp-for="Department.Gm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Managing </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" asp-for="Department.Md" />
                                    </div>
                                </div>
                            </div>*@
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Temporary Approval Person</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" asp-for="Department.TempAprvl" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                        <button class="btn btn-light" asp-page="/Index">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

